In [18]:
import random as ra

In [19]:
per={'Juan':ra.randrange(0,100,1),
     'Toño':ra.randrange(0,100,1),
     'Lola':ra.randrange(0,100,1),
     'Tatania':ra.randrange(0,100,1),
     'Carlos':ra.randrange(0,100,1),
     'Diego':ra.randrange(0,100,1)}
for i in per.items():
  print(i)

('Juan', 33)
('Toño', 27)
('Lola', 17)
('Tatania', 45)
('Carlos', 41)
('Diego', 8)

In [21]:
print('El numero más grande es: ', max(per.values()), 'y el numero más pequeño es: ', min(per.values()))

El numero más grande es:  45 y el numero más pequeño es:  8